.wrapper{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.burgerContent{
    display: 'flex';
    flex-direction: column;
}

.ingredientPlaceholder{
    padding: 16px 24px;
    display: inline-block;
    border-radius: var(--common-border-radius-s);
    background: var(--background-element);
    max-width: 536px;
    min-height: 80px;
    width: 100%;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    box-sizing: border-box;

    text-align: center;
}

.ingredient{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -24px;
}

.ingredient:not(:last-child){
    margin-bottom: 10px;
}

.bunPlaceholder_top { border-radius: var(--top-constructor-item-border-radius);}
.bunPlaceholder_bottom { border-radius: var(--bottom-constructor-item-border-radius);}

.interlayer{
    overflow-y: scroll;
    max-height: 740px;
}

.interlayer > *:not(:last-child){
    margin-bottom: 16px;
}

