.burgerWrapper{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-bottom: 100px;
}

.tabWrapper{
    display: flex;
}

.ingredientSection:not(:last-child){
    margin-bottom: 40px;
}

.ingredientsSection{
    overflow-y: auto;
}
