.header{
    display: flex;
    align-items: center;

    margin: 0 auto;

    background-color: #1C1C21;
    padding: 16px 10px;

}

.wrapper{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.logo{
    padding-right: 170px;
}

.link{
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background-color: transparent;
    border: none;
    border: 1px solid transparent;
    border-radius: 30px;
    text-decoration: none;
    color: #8585AD;
}

.link:not(:last-child){
    margin-right: 8px;
}

.link:hover{
    cursor: pointer;
    border: 1px solid #4e4e5a;
}

.active{
    composes: link;
    border: 1px solid #696979;
    color: #fff; 
}